*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", Sans-serif;
	background: #000 url(../img/flexbox-background-opacity.png);
	/* Para ponerle opacidad a la imagen lo recomendable es ponerle opacidad y
	exportarla de Adobe XD  */
	background-size: cover;
	background-attachment: fixed;

}


.contenedor{
	margin: auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
header{
	width: 100%;
	padding: 50px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header .logo{
	width: 248px;
	height: 60px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	background-color: rgba(0,0,0, .2);
	text-align: center;
	padding-top: 19px;
	color: #fff;
	transition: all ease 3s;
	-webkit-transition: all ease 3s;
	-moz-transition: all ease 3s;
	-ms-transition: all ease 3s;
	-o-transition: all ease 3s;
}

header .logo:hover{
	background-color: #fff;
	color: rgba(0, 0, 0, 0.4);
}

header .menu a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	margin-right: 40px;
	transition:all 2s ease;
}

header .menu a:hover{
		text-decoration: underline;
	}

.main{
		padding: 20px;
		background: #fff;
		width: 70%;
}

.main article .thumb{
	margin-bottom: 20px;
}

.main article .thumb img{
	vertical-align: top;
	width: 100%;
	opacity: .8;
	transition: all 2s ease;
}
.main article .thumb img:hover{

	opacity: 1;
}

.main article h2{
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main article p{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}

aside{
	width: 30%;
	/* background: #537dca; */
	background: rgba(0,119,255,.3);
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;

}

aside .ad {
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding: 50px 0;
	background: #4264a2;
	transition: all 2s ease;
}

aside .ad:hover {
	background: #f2f2f2;
	color: #787878;
}

footer{
	margin: 20px 0px;
	padding: 20px;
	width: 100%;
	background: rgba(0,0,0, .2);
	color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

footer .redes-sociales a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}

footer .redes-sociales a:hover {
	text-decoration: none;
}

/* Activar el modo responsivo en Firefox */
/* ctrl + shift + M */
/* Activar el modo responsivo en Google Chrome */
/* ctrl + shift + i */

@media screen and (max-width: 800px) {
	.main{
		width: 100%;
	}
	aside{
		flex-direction: row;
		width: 100%;
	}
	aside .ad{
		width: 40%;
	}
	
}

@media screen and (max-width: 600px){
	header {
		flex-direction:column;
		padding-bottom: 20px;
	}

	header .menu{
		width: 100%;
		text-align: center;
		background: rgba(255,255,255,.2);
		padding: 20px;

	}

	header .menu a{
		margin: 0 20px;
	} 

	header .logo{
		margin-bottom: 20px;
	}

	footer{
		flex-direction: column;
		text-align: center;
	}

	footer .autor{
		order: 2;
	}

	footer .redes-sociales {
		order: 1;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 400px) {
	aside{
		display: none;
	}
	header .logo img{
		width: 100%;
	}
}